
<div class="container-fluid">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <div class="col-md-4"><%= image_tag "grandpa.jpg", class: 'img-responsive' %></div>
  <div class="container-fluid">
    <div class="col-md-6">We are dedicated to the makers, the creators, the risk-takers. We wake up in the middle of the night and furiously write down ideas about how to make your online life better.<br><br>
      When we're not hard at work, we're hard at play - we're the loud ones in the bar, and we're always the ones shutting the place down. Human communication and collaboration is what drives us, and it infuses every feature of gCamp.
    </div>
  </div>
</div>
