
<!--Jumbotron -->
<div class="container">
  <div class="jumbotron">
    <h1>gCamp</h1>
    <p><p><p>Your life, organized.</p></p></p>

  </div>

  <div class="row" "container">

    <div class="col-md-4"><%= image_tag "faces.jpg", class: 'img-responsive' %></div>
    <div class="col-md-4"><%= image_tag "fire.jpg", class: 'img-responsive' %></div>
    <div class="col-md-4"><%= image_tag "protest.jpg", class: 'img-responsive' %></div>
  </div>
  <div style="padding-top: 20px; padding-bottom: 20px;">
    <div class="row" "container">
      <div class="col-md-4"><div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Tasks</h3>
        </div>
        <div class="panel-body">
          Grouped by projects and<br> lists. Just the way you<br>like'em.
        </div>
      </div>
    </div>
    <div class="col-md-4"><div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Documents</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Upload</li>
          <li>Comment</li>
          <li>Revise</li>
        </ul>
      </div>
    </div></div>

    <div class="col-md-4"><div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Comments</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Comment on tasks <br>and documents</li>
          <li>Get email notifications</li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <% @quotes.each do |sub_quote| %>
    <% sub_quote.each do |x| %>
    <ul class="list-unstyled"><%= x %></ul>
    <% end %>
    <% end %>
  </div>
</div>


</div>
<ul>
